<script>
    _fns.addCtrlrJs('pie_ladder');
    _fns.addDialogJs('share');

</script>

<!--控制器界面部分-->
<div layout-align='stretch stretch' id='pie_ladder' ng-controller='pie_ladder' class='pie_ladder' style='width: 100%; height: 100%; overflow:visible;background:#FFF'>
    <style>
        /*内部样式，以控制器名为class开头*/

    </style>
    <!--控制器界面部分-->
    <div layout-padding style="width:100%">
        <!--        顶部-->
        <div>
            <md-button hide-gt-sm class="md-icon-button" ng-click="$root.tagLeftMenu()" style='margin-left:0' aria-label='tagleft'>
                <span class="fa fa-bars fa-lg"></span>
            </md-button>
            <md-button id='leftnavbtn' class="md-icon-button hidden-sm hidden-xs" ng-click="$root.tagLeftMenu()" style='margin-left:0;color:#AAA' aria-label='tagleft' data-toggle="tooltip" data-placement="bottom" title="显示／隐藏左侧菜单栏">
                <span class="fa fa-chevron-left fa-lg" ng-show='$root.leftMenuOpen'></span>
                <span class="fa fa-bars fa-lg" ng-hide='$root.leftMenuOpen'></span>
            </md-button>

            <md-button class="md-raised md-accent" ng-click='openJoinDialog()' aria-label='a'>我要打榜</md-button>

            <div class="dropdown pull-right" ng-show='hasLogin' style="margin-top:8px">
                <button class="dropdown-toggle" id="ddmenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background:none;border:none">
                    <span>
                        <img class='avatar-md' ng-src='{{myUsrInfo.avatar?myUsrInfo.avatar+"-avatar32":""}}' />
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="ddmenu1">
                    <li class="btn" ng-click='gotoProfile()' style="width:100%">资料设置</li>
                    <md-divider></md-divider>
                    <li class="btn" ng-click='logout()' style="width:100%">退出</li>
                </ul>
            </div>
        </div>

        <!--        showapp列表-->
        <div style="padding:16px">
            <div class='md-button' style="margin-left:20px;color:#888" ng-click='showAppsTip()' style='cursor:pointer'>
                <span>随机推荐</span>
                <span class='fa fa-question-circle-o fa-lg'></span>
            </div>
            <div layout layout-wrap class='container-fluid'>
                <div class='col-xs-12 col-sm-6 col-md-4 col-lg-2' ng-repeat='item in showApps' style='padding:0.5rem'>
                    <md-card md-theme="default" md-theme-watch style='margin:0;'>
                        <md-card-title class="elips" style='padding:0;overflow:hidden;position:relative'>
                            <div style="position:absolute;width:100%;height:100%;background-size:cover;opacity:0.4;border-radius: 4px 4px 0 0" ng-style='genCardBg2(item.val)'></div>
                            <div style="position:absolute;width:100%;height:100%;background-size:cover;opacity:0.4;border-radius: 4px 4px 0 0" ng-style='genCardBg(item.id)'></div>
                            <md-card-title-text class="elips" style='margin:16px;z-index:6'>
                                <div style="width:40px;height:40px;overflow:hidden;border-radius:6px;border:1px solid  rgba(255, 255, 255, 0.25);cursor:pointer;" ng-click='openApp(item)'>
                                    <img src={{item.icon}} width='40px' height='40px' />
                                </div>
                                <div class="md-headline elips" ng-click='openApp(item)' style="cursor:pointer;">
                                    <span class="md-headline elips" ng-bind='item.alias' style='color:#000;font-size:16px'></span>
                                </div>
                                <div class="md-subhead elips" style="color:#000;opacity:0.5;font-size:10px">
                                    <span class='fa fa-thumbs-up'></span>
                                    <span ng-bind='item.hit || 0'></span>
                                </div>
                            </md-card-title-text>
                        </md-card-title>


                        <!--   下拉菜单-->
                        <md-card-actions layout-wrap layout="row" layout-align="end center" style='color:#AAA'>
                            <md-button flex='none' class="md-icon-button itbtn md-primary" ng-click='openApp(item)' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" title="运行App主页">
                                <span class='fa fa-rocket'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn md-primary" ng-show='item.hashit' ng-click='likeApp(item)' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" title="好就给它投一票！">
                                <span class='fa fa-thumbs-up'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn  md-default" ng-hide='item.hashit' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" ng-click='likeApp(item)' title="谢谢你的支持！">
                                <span class='fa fa-thumbs-up'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn md-primary" ng-show='item.hasfavor' ng-click='setFavorApp(item,false)' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" title="点击取消收藏">
                                <span class='fa fa-heart'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn  md-default" ng-hide='item.hasfavor' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" ng-click='setFavorApp(item,true)' title="点击收藏">
                                <span class='fa fa-heart'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn md-primary" ng-click='openShare(item)' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" title="分享到QQ微信微博">
                                <span class='fa fa-share-alt'></span>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>

        <!--        topapp列表-->
        <div style="padding:16px">
            <div class='md-button' style="margin-left:20px;color:#888" ng-click='topAppsTip()' style='cursor:pointer'>
                <span>TOP排行榜</span>
                <span class='fa fa-question-circle-o fa-lg'></span>
            </div>
            <div style="text-align:center" ng-show='topApps.length<1'>～这里空空如也，等你来打榜～</div>
            <div layout layout-wrap class='container-fluid'>
                <div class='col-xs-12 col-sm-6 col-md-4 col-lg-2' ng-repeat='item in topApps' style='padding:0.5rem'>
                    <md-card md-theme="default" md-theme-watch style='margin:0;'>
                        <md-card-title class="elips" style='padding:0;overflow:hidden;position:relative'>
                            <div style="position:absolute;width:100%;height:100%;background-size:cover;opacity:0.4;border-radius: 4px 4px 0 0" ng-style='genCardBg2(item.val)'></div>
                            <div style="position:absolute;width:100%;height:100%;background-size:cover;opacity:0.4;border-radius: 4px 4px 0 0" ng-style='genCardBg(item.id)'></div>
                            <md-card-title-text class="elips" style='margin:16px;z-index:6'>
                                <div style="width:40px;height:40px;overflow:hidden;border-radius:6px;border:1px solid  rgba(255, 255, 255, 0.25);cursor:pointer;" ng-click='openApp(item)' >
                                    <img src={{item.icon}} width='40px' height='40px' />
                                </div>

                                <div class="md-headline elips" ng-click='openApp(item)' style="cursor:pointer;">
                                    <span class="md-headline elips" ng-bind='item.alias' style='color:#000;font-size:16px'></span>
                                </div>
                                <div class="md-subhead elips" style="color:#000;opacity:0.5;font-size:10px">
                                    <span>No.</span>
                                    <span ng-bind='$index+1'></span>
                                    <span class='fa fa-thumbs-up'></span>
                                    <span ng-bind='item.hit || 0'></span>
                                </div>
                            </md-card-title-text>
                        </md-card-title>


                        <!--   下拉菜单-->
                        <md-card-actions layout-wrap layout="row" layout-align="end center" style='color:#AAA'>
                            <md-button flex='none' class="md-icon-button itbtn md-primary" ng-click='openApp(item)' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" title="运行App主页">
                                <span class='fa fa-rocket'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn md-primary" ng-show='item.hashit' ng-click='likeApp(item)' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" title="好就给它投一票！">
                                <span class='fa fa-thumbs-up'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn  md-default" ng-hide='item.hashit' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" ng-click='likeApp(item)' title="谢谢你的支持！">
                                <span class='fa fa-thumbs-up'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn md-primary" ng-show='item.hasfavor' ng-click='setFavorApp(item,false)' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" title="点击取消收藏">
                                <span class='fa fa-heart'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn  md-default" ng-hide='item.hasfavor' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" ng-click='setFavorApp(item,true)' title="点击收藏">
                                <span class='fa fa-heart'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn md-primary" ng-click='openShare(item)' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" title="分享到QQ微信微博">
                                <span class='fa fa-share-alt'></span>
                            </md-button>

                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>

        <!--      打榜弹窗-->
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="joinDialog">
                <md-dialog layout-padding style='text-align:center;padding:24px;max-width:800px'>
                    <h1 class="md-title">您希望用哪个APP参加比赛:</h1>
                    <div layout="column" layout-align="center center">
                        <md-select placeholder="请选择一个APP" ng-model="joinDialgSelId" md-on-open="getMyApps()" style="min-width: 200px">
                            <md-option ng-value="app.id" ng-repeat="app in myApps" ng-disabled='app.inladder'>
                                <span class='fa fa-check' ng-show='app.inladder'></span>
                                <span ng-bind='app.alias'></span>
                            </md-option>
                        </md-select>
                    </div>
                    <div>
                        <div class="md-button md-raised md-accent" ng-click='joinLadder(joinDialgSelId)' aria-label='a'>加入榜单</div>
                        <div class="md-button" ng-click='cancelDialog()' aria-label='a'>取消</div>
                    </div>
                </md-dialog>
            </div>
        </div>

        <!--      详细信息弹窗-->
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="textDialog">
                <md-dialog layout-padding style='text-align:center;padding:24px;max-width:800px'>
                    <pre ng-bind='textDialogData' style="text-align:left;font-size:16px">
                    </pre>
                </md-dialog>
            </div>
        </div>



    </div>


</div>










<!---->
