<!DOCTYPE html>
<html ng-app="app" style="height:100%;width:100%;overflow:hidden">

<head>
    <title>代码派！</title>

    <meta charset="utf-8" />
    <meta name="description" content="基于代码派angular模版创建" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="icon" type="image/png" href="http://files.jieminuoketang.com/1/aaw6vsns2i5k/src/JMN32B.png">

    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//www.jieminuoketang.com/pie/js/_common.js"></script>
    <script src="//www.jieminuoketang.com/global/global_pre.js"></script>

    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://rtfiles.jieminuoketang.com/[[uid]]/[[appName]]/index.css" rel="stylesheet" />
</head>

<body style="height:100%;width:100%;" ng-controller="bodyController">
<!----从这里开始编码---->












<!----到这里结束编码---->
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>
<script src="http://rtfiles.jieminuoketang.com/[[uid]]/[[appName]]/index.js"></script>
<script src="//www.jieminuoketang.com/global/global_after.js"></script>
</body>

</html>










