<script>
    _fns.addDialogJs('share');
    _fns.addDialogJs('appReset');

</script>

<md-dialog id='pie_dialog_appConfig' aria-label="a" style='padding:24px;min-width:360px;max-width:600px;min-height:400px'>
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
        <md-tab label="菜单">
            <div style='padding:12px 12px 24px 12px'>
                <div flex='none' class="md-button md-default" ng-repeat='menu in menus' ng-click='menurun(menu.fn)' aria-label='a' style='color:#888;padding:6px 40px;margin:0;display:block;width:100%'>
                    <span ng-class='menu.icon'></span>
                    <span ng-bind='menu.title'></span>
                </div>
            </div>
        </md-tab>

        <md-tab label="设置">
            <div layout='column' style='padding:24px 12px 24px 12px'>

                <div style="width:100%">
                    <div layout>
                        <div id='appiconbtn' flex='none' ng-click='changeIcon()' style="width:56px;height:56px;overflow:hidden;border-radius:6px;border:1px solid  rgba(255, 255, 255, 0.25);cursor:pointer;display:inline-block;vertical-align:top">
                            <img ng-src={{app.icon?app.icon:$root._cfg.defaultIconSm}} width='56px' height='56px' ng-hide='iconUploading' />
                            <div style="width:100%;height:100%;text-align:center">
                                <i class="fa fa-spinner fa-pulse fa-fw" ng-show='iconUploading' style="font-size:24px;margin:13px"></i>
                            </div>
                        </div>
                        <div flex='grow' style="color:#AAA;padding:12px;font-size:12px">点击图标进行更换
                            <br>建议256*256以上分辨率的png或jpg图片</div>
                    </div>
                </div>

                <md-input-container class="md-block" flex-gt-sm style='margin-top:36px;margin-bottom:0'>
                    <label style="text-align:left;">APP名称</label>
                    <input name='alias' ng-model="app.alias" ng-pattern="/^[a-zA-Z\u0391-\uFFE5]+[0-9a-zA-Z\u0391-\uFFE5]{2,17}$/" style='font-size:2rem;font-family:simhei' />
                    <div style='color:#AAA;text-align:left;font-size:12px'>中文,数字,字母都可以,3~18位非数字开头</div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm style='margin-top:30px'>
                    <label>APP描述</label>
                    <textarea ng-model='app.desc' md-maxlength='60' rows='2'></textarea>
                </md-input-container>

                <div flex='none' class="md-button md-raised md-accent" ng-click='updateAppBase()' aria-label='a' style='padding:6px 40px;margin:0;margin-top:24px'>
                    <span>保存</span>
                </div>
            </div>
        </md-tab>


        <md-tab label="扩展">
            <div layout='column' style='padding:24px 12px 24px 12px'>
                <md-input-container class="md-block" flex-gt-sm style='margin-top:36px'>
                    <label style="text-align:left;">绑定野狗APP超级密钥</label>
                    <input name='alias' ng-model="appExt.wildDogAppSecret" ng-pattern="/^[a-zA-Z0-9]{8,64}$/" style='font-size:2rem;font-family:simhei' />
                    <div style='color:#AAA;text-align:left;font-size:12px'>进入管理／身份认证／登录方式页面底部获取</div>
                </md-input-container>

                <div flex='grow' layout ng-repeat='item in customsArr'>
                    <md-input-container flex='40' class="md-block" flex-gt-sm style='margin:24px 0 0 0'>
                        <label style="text-align:left;">属性名</label>
                        <input name='alias' ng-model="item.key" ng-pattern="/^[a-zA-Z0-9_]{1,64}$/" style='font-size:2rem;font-family:simhei' />
                    </md-input-container>
                    <md-input-container flex='60' class="md-block" flex-gt-sm style='margin:24px 0 0 0'>
                        <label style="text-align:left;">属性值</label>
                        <input name='alias' ng-model="item.val" ng-pattern="/^[\s\S]{1,128}$/" style='font-size:2rem;font-family:simhei' />
                    </md-input-container>
                </div>

                <div flex='none' class="md-button md-default" aria-label='a' style='text-align:left;width:180px;margin:0;margin-top:8px' ng-click='addCustoms()'>
                    <span class='fa fa-plus fa-lg'></span>
                    <span>添加自定义属性</span>
                </div>

                <div flex='none' class="md-button md-raised md-accent" ng-click='updateAppExt()' aria-label='a' style='padding:6px 40px;margin:0;margin-top:24px'>
                    <span>保存</span>
                </div>
            </div>
        </md-tab>

        <md-tab label="历史">
            <ul style="margin:12px;padding:4px">
                <li ng-repeat='item in hisArr' style="line-height:20px;font-size:14px;margin:4px 0" class="elips">
                    <span>•</span>
                    <small ng-bind='item.created_at | date:"yy/MM/dd hh:mm"' style="color:#AAA"></small>
                    <span ng-bind='hisType[item.type]'></span>
                    <small ng-bind='item.param | json' title='{{item.param | json}}'></small>
                </li>
            </ul>
        </md-tab>




    </md-tabs>

</md-dialog>
