<!DOCTYPE html>
<html ng-app="app" style="height:100%;width:100%;overflow:hidden">

<head>
    <title>代码派！</title>

    <meta charset="utf-8" />
    <meta name="description" content="基于代码派aframe模版创建" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="icon" type="image/png" href="http://files.jieminuoketang.com/1/aaw6vsns2i5k/src/JMN32B.png">

    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>

    <script src="//www.jieminuoketang.com/pie/js/_common.js"></script>
    <script src="//www.jieminuoketang.com/global/global_pre.js"></script>

    <script src="//cdn.bootcss.com/aframe/0.3.2/aframe.min.js"></script>

    <script src="http://www.jieminuoketang.com/pie/lib/aframe/aframe-text-component.min.js"></script>
    <script src="http://www.jieminuoketang.com/pie/lib/aframe/aframe-event-set-component.min.js"></script>
    <script src="http://www.jieminuoketang.com/pie/lib/aframe/aframe-animation-component.js"></script>
    <script src="http://www.jieminuoketang.com/pie/lib/aframe/aframe-layout-component.min.js"></script>

    <script src="//www.jieminuoketang.com/pie/lib/humaninput-latest.min.js"></script>

    <script src="http://files.jieminuoketang.com/[[uid]]/[[appName]]/mycomponents.js"></script>
</head>

<body style="height:100%;width:100%;overflow-y:auto;padding:0" ng-controller="bodyController" class='container tc'>
    <!----从这里开始编码---->

    <a-scene embedded='false'>
        <!--模版素材放在这里-->
        <a-assets>
            <a-mixin id="cube" geometry="primitive: box;width:1;height:1;depth:1" position="0 1.6 -5" pivot="0 0 0" material='color:#FFFFFF' animation='property:rotation;to:0 360 0;dur:5000;loop:true;easing:linear' scale='2 2 2'></a-mixin>
        </a-assets>

        <!--灯光放在这里-->
        <a-entity>
            <a-light color='#ffdd99' type='point' intensity='1.2' position='-1000 1000 1000'></a-light>
            <a-light color='#9ae0ff' type='point' intensity='0.6' position='1000 -1000 -1000'></a-light>
            <a-light color='#809dff' type='ambient' intensity='0.2' position='0 0 0'></a-light>
        </a-entity>

        <!--物体放在这里-->
        <a-entity mixin='cube'></a-entity>










        <a-sky color="#EEEEEE"></a-sky>
    </a-scene>

    <!----到这里结束编码---->
    <script src="http://rtfiles.jieminuoketang.com/[[uid]]/[[appName]]/index.js"></script>
    <script src="//www.jieminuoketang.com/global/global_after.js"></script>
</body>

</html>
